{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive' />
    {% endif %}
<h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}    Read Time:{{instance.read_time|time:"i"}} mins.</small></h1>
Read Time:{{instance.read_time|time:"i"}} mins.
{% if instance.user.get_full_name %}
<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}

<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>

<div class='row'>
<div class='col-sm-12'>

<div class='content-markdown post-detail-item'>{{ instance.content }}</div>

<hr/>
<br/>
<div>
	<p class='lead'>Comments</p>
	<form method="POST" action=".">{% csrf_token %}
		{{ comment_form|crispy }}
		<input type="submit" value='Post Comment' class='btn-btn-default'>
	</form>
	<hr/>
	{% for comment in  comments %}
		<div class="">
		<blockquote>
			<p>{{ comment.content }}<p>

			<footer>via {{ comment.user }} | on {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}
			
			<a class="comment-reply-btn" href="thefuckisgoingon">Reply</a> | <a href="{{ comment.get_absolute_url }}">thread</a>
			</footer>
			

			<div class="comment-reply" >
				{% for child_comment in comment.children %}
				<blockquote>
					{{ child_comment.content }}
					<footer>via {{ child_comment.user }} on {{ child_comment.timestamp|timesince }} ago.</footer>
				</blockquote>
				{% endfor %}
				<form method="POST" action=".">{% csrf_token %}
					{{ comment_form|crispy }}
					<input type="hidden" name="parent-id" value= "{{ comment.id }}">
					<input type="submit" value='Reply' class='btn-btn-default'>
				</form>
			</div>
		</blockquote>


		
		<hr/>
		</div>


	{% endfor %}
</div>

</div>
</div>
</div>



{% endblock content %}
